*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f2f;
}
.container{
    width:600px;
    height:850px;
    border: 2px solid transparent;
    background-color: #5f5e5e;
    border-radius: 20px;
}
 .label{
    list-style: none;
    border: 2px solid transparent;
    margin:10px 0 5px 15px;
}
.label{
    font-size:20px;
    font-style: bolder;
    color: #fff;
}
#input{
    font-size:large;
}
#n1{
    width:60px;
}
#submit{
    height:40px;
    width: 60px;
    background-color: seagreen;
    border-radius:10px;
    cursor: pointer;
}
#msg{
    color:seagreen;
    
}